<!DOCTYPE html>
<html>
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<h1>About page</h1>
<nav>
    <hr width="50%" />
    <a href="/">Home</a>
    <a href="/fish/3">Fish Search</a>
    <b href="/about">About</b>
</nav>
<div>
    <br><br><br>
    <h3>Fish Watcher</h3>
    <br>
    <h4>By: Angelo Ediriweera, Elijah Barsky-Ex, Ryan Gutierrez, and Zachary Abbett</h4>
    <br>
    <p>CST 205</p>
    <br>
    <p>May 17th, 2021</p>
    <br>
    <p>Github Resposity: https://github.com/JerecDev/CST205-Fishes</p>
    <br>
    <h4>Future Work: <p> With more time, we would like to pull from additonal resources in order to
        make the project more user friendly.</p><p> Some of these changes would include adding a map to the 
        location listed for each fish, and filling out some of our white space to make it feel less blank.
    </p></h4>
</div>
</body>
</html>