<!DOCTYPE html>
<!-- Home Page for flask application
     Created by Zachary Abbett -->
<html>
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<h1>Lets save some fish!</h1>
<nav>
    <!-- Navigation bar
         created by Zachary Abbett -->
    <hr width="50%" />
    <b href="/">Home</b>
    <a href="/fish/3">Fish Search</a>
    <a href="/about">About</a>
</nav>
<br>
<!--Informative video to fill space on home screen-->
<iframe width="1699" height="965" src="https://www.youtube.com/embed/F6nwZUkBeas" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>
